<div class="most_liked">
    <h4 class="h2v2">Most Popular Entry</h4>
    <div class="popular_entry">
      <figure>
        <a href="#"><img src="/images/italy.jpg" alt="City Picture"></a>
        <figcaption><a href="#">City Caption</a></figcaption>
      </figure>
      <form class="subscribe" action="subscribe.php" method="post">
        <fieldset>
          <label for="fname">Name</label><br>
          <input class="form_text"type="text" id="fname" name="fname"><br>
          <label for="lname">E-mail</label><br>
          <input class="form_text" type="email" id="email" name="email"><br><br>
          <input id= "submit"type="submit" value="Subscribe">
        </fieldset>
      </form>
    </div>
  </div>