<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Website</title>
    <link rel="stylesheet" href="css/contact_me_css.css">
    <link rel="stylesheet" href="css/cities_css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Rubik:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  </head>
  <body>
    <ul>
      <%- include("partials/nav-bar")  -%> 
      <div class="main">
        <li><a href="#"><img src="images/instagram.png" alt="Instagram logo"></a></li>
        <li><a href="#"><img src="images/facebook.png" alt="Facebook logo"></a></li>
        <li><a href="#"><img src="images/linkedin.png" alt="Linkedin logo"></a></li>
      </div>
    </ul>
  </body>
</html>
